<div style="text-align:left">
  <h2>
    Url Configuration
  </h2>

</div>

<div>
	<label>Client ID:
		<input [(ngModel)] ="url.clientID" placeholder="client id" >
	</label>
</div>

<div>
	<label>Port:
		<input [(ngModel)] ="url.port" placeholder="port" >
	</label>
</div>


<div style="color:red">
  <h3>
    https://rdv-{{url.clientID}}.gtkserver.net:{{url.port}}/rendezview
  </h3>

</div>

<button type="button">Apply</button>

<div style="text-align:right">
<nav>
  <a routerLink="/wan-mtk">Next</a>
</nav>
</div>