<div style="text-align:center">
  <h1>
    Rendezview {{ title }}
  </h1>

</div>

<nav>
  <a routerLink="/wan" *ngIf="getInitialPage()">Start Wizard</a>
</nav>
<router-outlet></router-outlet>


 <br>
 <hr>


