<div style="text-align:left">
  <h2>
    Host Name Configuration
  </h2>

</div>

<div>
	<label>Client Text ID:
		<input [(ngModel)] ="hostname.clientTextID" placeholder="client text id" >
	</label>
</div>

<button type="button">Apply</button>

<div style="text-align:right">
<nav>
  <a routerLink="/managementvlans">Next</a>
</nav>
</div>