<div style="text-align:left">
  <h2>
    Wan Configuration
  </h2>

</div>

<div>
  <label>Ip Address:
    <input [(ngModel)]="wan.ipAddress" placeholder="Ip Address">
  </label>
</div>

<div>
  <label>Gateway:
    <input [(ngModel)]="wan.gateway" placeholder="Gateway">
  </label>
</div>

<div>
  <label>Netmask:
    <input [(ngModel)]="wan.netmask" placeholder="Netmask">
  </label>
</div>

<button type="button">Apply</button>

<div style="text-align:right">
<nav>
  <a routerLink="/url">Next</a>
</nav>
</div>
