<div style="text-align:left">
  <h2>
Management Vlans
  </h2>

</div>


<li *ngFor="let mv of managementvlans">
	<ol> 
		<div>
		  <label>Name: {{mv.name}}
		   
		  </label>
		</div>

		<div>
		  <label>Ip Address: {{mv.ipaddress}}
		   
		  </label>
		</div>

		<div>
		  <label>Netmask: {{mv.netmask}}
		  
		  </label>
		</div>

	</ol>
</li>

<button type="button" [hidden]="adding" (click)="addingVlan()">Add</button>

<div [hidden]="!adding">
	Adding stuff
	<div>
		  <label>Name:
		    <input  #newName placeholder="Name">
		  </label>
		</div>

		<div>
		  <label>Ip Address:
		    <input #newIp placeholder="Ip address">
		  </label>
		</div>

		<div>
		  <label>Netmask:
		    <input  #newNetmask placeholder="Netmask">
		  </label>
		</div>

		<button type="button" (click)="addVlan(newName.value, newIp.value, newNetmask.value)">Add</button>
</div>