<div style="text-align:left">
  <h2>
    Wan Router Configuration
  </h2>

</div>

<div>
  <label>Router Ip Address:
    <input [(ngModel)]="wanMtk.ipAddress" placeholder="Ip Address">
  </label>
</div>

<div>
  <label>Gateway: {{wanMtk.gateway}}</label>
</div>

<div>
  <label>Netmask: {{wanMtk.netmask}}
   
  </label>
</div>

<div>
  <label>Primary DNS:
    <input [(ngModel)]="wanMtk.priDNS" placeholder="Netmask">
  </label>
</div>


<div>
  <label>Secondary DNS:
    <input [(ngModel)]="wanMtk.secDNS" placeholder="Netmask">
  </label>
</div>

<button type="button">Apply</button>

<div style="text-align:right">
<nav>
  <a routerLink="/hostname">Next</a>
</nav>
</div>